@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-circle {
    clip-path: circle(200px at 50% 50%);
  }

  select {
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
  }
}

@layer components {
  .debug {
    @apply border border-solid border-red-600;
  }
}

@layer base {
  nav > ul > li {
    @apply bg-transparent hover:bg-gray-400 text-black text-[32px] py-4 pl-10 border border-black w-full;
  }

  button {
    @apply bg-transparent hover:bg-gray-400 text-black text-[14px] py-[18px] px-[32.5px] border border-black;
  }

  select {
    @apply bg-transparent text-black text-[14px] py-[18px] px-[32.5px] border border-black;
  }

  label > select{
    @apply bg-transparent text-black text-[14px] py-[18px] px-[32.5px] border border-black w-[220px] rounded-md;
  }

  table {
    @apply w-full text-sm text-left text-black outline -outline-offset-1 outline-slate-800 overflow-hidden rounded-xl;
  }

  thead {
    @apply text-xs text-white uppercase tracking-[0.3em] bg-slate-800;
  }

  th,
  td {
    @apply px-6 py-3 text-gray-700 table-cell text-center;
  }

  th {
    @apply text-white border border-slate-800;
  }

  form {
    @apply flex flex-col gap-3;
  }

  label {
    @apply flex items-center gap-4 justify-between;
  }

  label > span {
    @apply text-lg;
  }
  input {
    @apply bg-transparent text-black text-lg p-2 border border-black rounded-md;
  }
}
